// Estilos para el tema light
.disqus-section[data-theme="dark"] {
  background: #131418 ;
  padding: 10px;
  
  

  // Estilos adicionales específicos del tema light
}
.disqus-section {
  background: #fffff0 ;
  padding: 10px;
  border-radius: 10px;
  

  // Estilos adicionales específicos del tema light
}




.disqus {
    margin: 0 auto;
    max-width: 100%;
    padding: 40px 0;
  }
