// Estilos para el tema light
.disqus-section[data-theme="dark"] {
  background: #131418 url(//4.bp.blogspot.com/-O8yztk6WVcU/T0NkbFabmQI/AAAAAAAAAgY/5b0-oJ207os/s000/pattern.png);
  padding: 10px;
  
  

  // Estilos adicionales específicos del tema light
}
.disqus-section {
  background: #eed url(//4.bp.blogspot.com/-O8yztk6WVcU/T0NkbFabmQI/AAAAAAAAAgY/5b0-oJ207os/s000/pattern.png);
  padding: 10px;
  
  

  // Estilos adicionales específicos del tema light
}




.disqus {
    margin: 0 auto;
    max-width: 100%;
    padding: 40px 0;
  }
